
@{
    if (ViewBag.WhoIsOnlineEnabled == true)
    {
        <div class="card bg-light mb-3">
            <div class="card-header">Menu</div>
            <div class="card-body">
                <div>
                    <span>Visitors: </span>@ViewBag.VisitorCount<br />
                    @{
                        var visitors = ViewBag.RegisteredVisitors;

                        if (visitors.Count > 0)
                        {
                            <span>Logged In: </span>

                            foreach (var visitor in visitors)
                            {
                                <a href="@Url.Action("ShowDetails", "Profile", new { userName = visitor.UserName })">@visitor.UserName</a><span>, </span>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
}



