@page
@model digioz.Portal.Web.Areas.Admin.Pages.Video.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Video";
    Layout = "/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow-sm">
    <div class="card-header">Videos</div>
    <div class="card-body">
        <p class="text-muted">Build your admin UI for videos here.</p>
    </div>
</div>
