@page
@model digioz.Portal.Web.Areas.Admin.Pages.Video.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Video";
    Layout = "/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow-sm">
    <div class="card-header">Videos</div>
    <div class="card-body">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-area="Admin" asp-page="/Video/VideoIndex">Video Manager</a>
            <a class="list-group-item list-group-item-action" asp-area="Admin" asp-page="/Video/VideoAlbumIndex">Video Album Manager</a>
        </div>
    </div>
</div>
