
@{
    ViewBag.Title = "Comment Manager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Comment Manager</h2>

<p>&nbsp;</p>

<table style="width:95%;">
    <tr>
        <td>
            <div style="text-align:center;padding-bottom:20px;">
                <a href="~/Admin/CommentConfigManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/img/images/icons/64x64/Configuration.png" border="0" /><br />
                    Enable Comments
                </a>
            </div>
        </td>
        <td>
            <div style="text-align: center; padding-bottom: 20px;">
                <a href="~/Admin/CommentPostsManager">
                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/img/images/icons/64x64/Comments.png" border="0" /><br />
                    Manage Comments
                </a>
            </div>
        </td>
    </tr>

</table>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>