@model string

@{
    var currentPage = Model ?? "Index";
}

<p>
    @if (currentPage != "Index")
    {
        <a asp-page="/PrivateMessages/Index" class="btn btn-secondary">Inbox</a>
    }
    <a asp-page="/PrivateMessages/Add" class="btn btn-success">Compose</a>
    @if (currentPage != "Sent")
    {
        <a asp-page="/PrivateMessages/Sent" class="btn btn-secondary">Sent</a>
    }
    @if (currentPage != "Outbox")
    {
        <a asp-page="/PrivateMessages/Outbox" class="btn btn-secondary">Outbox</a>
    }
</p>
