@page
@model digioz.Portal.Web.Areas.Admin.Pages.Order.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Order";
    Layout = "/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow-sm">
    <div class="card-header">Orders</div>
    <div class="card-body">
        <p class="text-muted">Build your admin UI for orders here.</p>
    </div>
</div>
