################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/digioz.Portal/digioz.Portal.Web/wwwroot/img/Slides/*.jpg
/digioz.Portal/digioz.Portal.Web/.config
/digioz.Portal/digioz.Portal.Web/wwwroot/img/Emails/uploads/Full/17b76a0d-f367-4c53-9a58-a9930bb2f3f1.jpg
/digioz.Portal/digioz.Portal.Web/wwwroot/img/Emails/uploads/Thumb/17b76a0d-f367-4c53-9a58-a9930bb2f3f1.jpg
