################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/9.0/.vs
/9.0/digioz.Portal.Bo/bin
/9.0/digioz.Portal.Bo/obj
/9.0/digioz.Portal.Dal/bin
/9.0/digioz.Portal.Dal/obj
/9.0/digioz.Portal.Utilities/bin
/9.0/digioz.Portal.Utilities/obj
/9.0/digioz.Portal.Web/.vs
/9.0/digioz.Portal.Web/bin
/9.0/digioz.Portal.Web/obj
/9.0/digioz.Portal.Web/.config
/9.0/digioz.Portal.Web/bin/Release
/9.0/digioz.Portal.Web/obj/Release/net9.0
/9.0/digioz.Portal.Web/bin/Debug/*

