
@{
    ViewBag.Title = "Unsubscribe Confirmaiton";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Your request to be removed from our Mailing List(s) has been recieved. <br />
   If you were a subscriber you have been unsubscribed from all future email communications.</p>

