@page
@model digioz.Portal.Web.Areas.Admin.Pages.MailingList.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Mailing List";
    Layout = "/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow-sm">
    <div class="card-header">Mailing Lists</div>
    <div class="card-body">
        <p class="text-muted">Build your admin UI for mailing lists here.</p>
    </div>
</div>
