
@{
    ViewBag.Title = "Link Manager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header">
                Link Manager
            </div>
            <div class="card-body">
                <table style="width:95%;">
                    <tr>
                        <td>
                            <div style="text-align:center;padding-bottom:20px;">
                                <a href="/Admin/LinkManager/List">
                                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/img/images/icons/64x64/LinkManager.png" border="0" /><br />
                                    Link Manager
                                </a>
                            </div>
                        </td>
                        <td>
                            <div style="text-align: center; padding-bottom: 20px;">
                                <a href="/Admin/LinkCategoryManager">
                                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/img/images/icons/64x64/LinkManager.png" border="0" /><br />
                                    Link Category Manager
                                </a>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</main>
