@using System.Net.Mime
@model IEnumerable<digioz.Portal.Web.Models.ViewModels.RSSViewModel>

@if (Model.Any())
{
    foreach (var feed in Model)
    {
        <div class="card bg-light mb-3">
            <div class="card-header">@feed.Title</div>
            <div class="card-body">
                @Html.Raw(feed.Body)

                <lable style="font-size:8px;">@feed.PublishDate</lable>
            </div>
        </div>
    }
}
