@model IEnumerable<digioz.Portal.Bo.Module>

@if (Model != null && Model.Count() > 0)
{
    if ((ViewBag.SelectedZone == "Top" || ViewBag.SelectedZone == "Bottom") && Model.Any())
    {
        @:<div class="container body-content">
    }

    foreach (var item in Model) 
    {
        if (item.Visible)
        {
            if (item.DisplayInBox)
            {
                <div class="card bg-light mb-5">
					<div class="card-header" style="background-color:#428BCA;color:#ffffff;">@item.Title</div>
					<div class="card-body">
						@Html.Raw(item.Body)
					</div>
                </div>
            }
            else
            {
                @Html.Raw(item.Body)
            }
        }
    }

    if ((ViewBag.SelectedZone == "Top" || ViewBag.SelectedZone == "Bottom") && Model.Any())
    {
        @:</div>
    }
}
