@using digioz.Portal.Dal.Services.Interfaces
@inject IPluginService PluginService
@model List<digioz.Portal.Bo.Picture>
@{
    bool pluginEnabled = PluginService.GetAll().Any(p => p.Name == "LatestPictures" && p.IsEnabled);
}
@if (pluginEnabled && Model != null && Model.Any())
{
    <div class="card mb-3 shadow-sm">
        <div class="card-header py-1 fw-semibold">Latest Pictures</div>
        <div class="card-body p-2">
            <div class="row g-2">
                @foreach (var pic in Model)
                {
                    <div class="col-4 col-md-4 text-center">
                        <a href="/Pictures/Details/@pic.Id" class="d-inline-block" title="@pic.Description">
                            <img src="/img/Pictures/Thumb/@pic.Thumbnail" alt="@pic.Description" class="rounded d-block mx-auto" style="width:200px;height:200px;object-fit:cover;max-width:100%;" />
                        </a>
                    </div>
                }
            </div>
            <div class="mt-3 text-center">
                <a href="/Pictures/List" class="btn btn-sm btn-outline-primary">View All Pictures</a>
            </div>
        </div>
    </div>
}
