<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Dashboard - @ViewBag.Title</title>
</head>
<body>
	<h1>Admin Dashboard</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
