@model digioz.Portal.Web.Models.Twitter

<div class="panel panel-default">
    <div class="panel-body" style="margin-left: unset; margin-right: unset; float: none; width: 100%;">
        <span style="font-weight: bold;"></span>
        <center>
            <div style="height: 500px; overflow-y: scroll;">
                <a class="twitter-timeline" href="https://twitter.com/@ViewBag.TwitterUser" data-chrome="noborders"></a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </center>
    </div>
</div>
