@page
@model digioz.Portal.Web.Pages.PrivateMessages.SentModel
@{
    ViewData["Title"] = "Sent";
}
<h1>Sent Messages (Read by recipient)</h1>
<partial name="_PrivateMessagesNavigation" model="Sent" />
<table class="table table-striped">
    <thead>
        <tr>
            <th>To</th>
            <th>Subject</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var msg in Model.Messages)
    {
        <tr>
            <td>@msg.ToDisplayName</td>
            <td>@msg.Subject</td>
            <td>@msg.SentDate?.ToLocalTime().ToString("g")</td>
            <td><a asp-page="/PrivateMessages/Details" asp-route-id="@msg.Id" class="btn btn-sm btn-primary">Read</a></td>
        </tr>
    }
    </tbody>
</table>
