@model digioz.Portal.Bo.ViewModels.WhoIsOnlineViewModel

@if (Model.WhoIsOnlineEnabled)
{
    <div class="card bg-light mb-3">
        <div class="card-header">Online</div>
        <div class="card-body">
            <div>
                <span>Visitors: </span>@Model.VisitorCount<br />
                @if (Model.RegisteredVisitors.Count > 0)
                {
                    <span>Logged In: </span>
                    @foreach (var visitor in Model.RegisteredVisitors)
                    {
                        <a asp-page="/Profile/Details" asp-route-userId="@(visitor.Profile?.DisplayName ?? visitor.Username)">@(visitor.Profile?.DisplayName ?? visitor.Username)</a>@(visitor != Model.RegisteredVisitors.Last() ? ", " : "")
                    }
                }
            </div>
        </div>
    </div>
}