@model digioz.Portal.Bo.ViewModels.WhoIsOnlineViewModel

@{
    if (Model.WhoIsOnlineEnabled == true)
    {
        <div class="card bg-light mb-3">
            <div class="card-header">Online</div>
            <div class="card-body">
                <div>
                    <span>Visitors: </span>@Model.VisitorCount<br />
                    @{
                        var visitors = Model.RegisteredVisitors;

                        if (visitors.Count > 0)
                        {
                            <span>Logged In: </span>

                            @foreach (var visitor in visitors)
                            {
                                <a href="@Url.Action("ShowDetails", "Profile", new { userId = visitor.Username })">@visitor.Username</a>@(visitor != visitors.Last() ? ", " : "")
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
}