@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header">
                <h2>Video Manager</h2>
            </div>

            <div class="card-body">
                <table style="width:95%;vertical-align:top;">
                    <tr>
                        <td>
                            <div style="text-align:center;padding-bottom:20px;">
                                <a href="/Admin/VideoManager/VideoList">
                                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/img/images/icons/64x64/VideoManager.png" border="0" /><br />
                                    Video Manager
                                </a>
                            </div>
                        </td>
                        <td>
                            <div style="text-align:center;padding-bottom:20px;">
                                <a href="/Admin/VideoManager/Approve">
                                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/img/images/icons/64x64/VideoManager.png" border="0" /><br />
                                    Approve Videos
                                </a>
                            </div>
                        </td>
                        <td>
                            <div style="text-align: center; padding-bottom: 20px;">
                                <a href="/Admin/VideoAlbumManager">
                                    <img class="img-thumbnail" alt="64x64" style="width: 64px; height: 64px;" src="~/img/images/icons/64x64/VideoManager.png" border="0" /><br />
                                    Video Album Manager
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>




