@model digioz.Portal.Web.Areas.Admin.Models.ViewModels.HomeViewModel
@using NonFactors.Mvc.Grid

@{ 
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; 
}

@section HeaderScripts {
	<link href="~/admin/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
	<link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
}

@section FooterScripts {
	<script src="~/admin/js/Chart.min.js"></script>
	<script src="~/admin/assets/demo/chart-area-demo.js"></script>
	<script src="~/admin/assets/demo/chart-bar-demo.js"></script>
	<script src="~/admin/js/jquery.dataTables.min.js"></script>
	<script src="~/admin/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/admin/assets/demo/datatables-demo.js"></script>
	<script src="~/js/mvc-grid/mvc-grid.js"></script>
	<script>
		document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
	</script>
}

<main>
	<div class="container-fluid">
		<h1 class="mt-4">Dashboard</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">Admin Dashboard</li>
		</ol>
		<div class="row">
			<div class="col-xl-3 col-md-6">
				<div class="card bg-primary text-white mb-4">
					<div class="card-body">Primary Card</div>
					<div class="card-footer d-flex align-items-center justify-content-between">
						<a class="small text-white stretched-link" href="#">View Details</a>
						<div class="small text-white"><i class="fas fa-angle-right"></i></div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-warning text-white mb-4">
					<div class="card-body">Warning Card</div>
					<div class="card-footer d-flex align-items-center justify-content-between">
						<a class="small text-white stretched-link" href="#">View Details</a>
						<div class="small text-white"><i class="fas fa-angle-right"></i></div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-success text-white mb-4">
					<div class="card-body">Success Card</div>
					<div class="card-footer d-flex align-items-center justify-content-between">
						<a class="small text-white stretched-link" href="#">View Details</a>
						<div class="small text-white"><i class="fas fa-angle-right"></i></div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-danger text-white mb-4">
					<div class="card-body">Danger Card</div>
					<div class="card-footer d-flex align-items-center justify-content-between">
						<a class="small text-white stretched-link" href="#">View Details</a>
						<div class="small text-white"><i class="fas fa-angle-right"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6">
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-chart-area mr-1"></i>
						Area Chart Example
					</div>
					<div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-chart-bar mr-1"></i>
						Bar Chart Example
					</div>
					<div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
				</div>
			</div>
		</div>

		<!-- Visitor Table -->
		@(Html
			.Grid(Model.Visitors)
			.Build(columns =>
			{
				columns.Add(model => model.Id).Titled("Id").Filterable(false);
				columns.Add(model => model.IpAddress).Titled("IP Address").Filterable(true);

				columns.Add(model => model.OperatingSystem).Titled("OS").UsingDefaultFilterMethod("equals");
				columns.Add(model => model.Browser).Titled("Browser").UsingDefaultFilterMethod("equals");
				columns.Add(model => model.BrowserVersion).Titled("Browser Version").UsingDefaultFilterMethod("equals");
				columns.Add(model => model.Href).Titled("Page Visited").UsingDefaultFilterMethod("equals");
				columns.Add(model => model.Timestamp).Titled("Date").UsingDefaultFilterMethod("equals");

				columns.Add(model => $"<a data-modal='' data-id=\"{model.Id}\" href='Admin/VisitorManager/Details?id={model.Id}' id=\"details\"  asp-action=\"Details\" asp-route-id=\"@item.Id\"'><img class=\"sb-nav-link-icon\" src=\"../img/images/icons/16x16/Search.png\" alt=\"Details\"><span class='glyphicon glyphicon-user'></span></a> &nbsp;&nbsp;").Encoded(false);

			})
				.Empty("No users found.")
				.Filterable()
				.Sortable()
				.Pageable()
            )
	</div>
</main>
<footer class="py-4 bg-light mt-auto">
	<div class="container-fluid">
		<div class="d-flex align-items-center justify-content-between small">
			<div class="text-muted">&copy; @DateTime.Now.Year - @digioz.Portal.Web.Models.AppStart.SiteSettings.SiteName</div>
			<div>
				<a href="#">Privacy Policy</a>
				&middot;
				<a href="#">Terms &amp; Conditions</a>
			</div>
		</div>
	</div>
</footer>