@{
    ViewBag.Title = "Order Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Confirmation</h2>

<p>
    Thank you for placing an Order with Us. Your Order was successful.
</p>

<p>
    Order Number: @ViewBag.OrderConfirmationID
</p>
