@model digioz.Portal.Web.Models.Twitter

@if (Model != null)
{
	<div class="card bg-light mb-3">
		<div class="card-header">Twitter</div>
		<div class="card-body">
			<center>
				<div style="height: 500px; overflow-y: scroll;">
					<a class="twitter-timeline" href="https://twitter.com/@ViewBag.TwitterUser" data-chrome="noborders"></a>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</center>
		</div>
	</div>
}

